<meta name="description"
      content="Learn how to create Wagtail websites with over 50 free tutorial videos and a professional beginners course."/>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:title" content="Learn Wagtail From Scratch"/>
<meta property="og:type" content="Website"/>
<meta property="og:url" content="https://learnwagtail.com/"/>
<meta property="og:image"
      content="https://learnwagtail.com/media/images/learn_wagtial_facebook_og.2e16d0ba.fill-1200x630.png"/>
<meta property="og:description" content="Learn Wagtail From Scratch"/>
<meta property="og:site_name" content="LearnWagtail.com"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@kalobtaulien">
<meta name="twitter:title" content="Learn Wagtail From Scratch">
<meta name="twitter:description" content="Learn Wagtail From Scratch"/>
<meta name="twitter:creator" content="@kalobtaulien">
<meta name="twitter:image:src" content="https://learnwagtail.com/static/img/og/twitter.dc78b0a369b3.png">
<meta name="apple-mobile-web-app-title" content="LearnWagtail.com">
<meta name="application-name" content="LearnWagtail.com">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/static/img/favicons/browserconfig.5500d12ee038.xml">
<meta name="theme-color" content="#ffffff">